body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-color: #cccccc;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('twowomenbackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(8px);
        transform: scale(1.1);
        z-index: -1;
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lines {
margin-top: 20px;
display: none;
}

.lines p {
margin: 6px 0;
}

.button {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
    font-style: italic;
}
.xtreme {
    font-size: 32px;
    color: #333333;
    margin-top: 900px;
    font-style: italic;
}
