body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-color: #cccccc;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('twowomenbackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(8px);
        transform: scale(1.1);
        z-index: -1;
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 300px;
}

.lines {
margin-top: 20px;
display: none;
}

.lines p {
margin: 6px 0;
}

.button {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    font-size: 24px;
    color: #333333;
    margin-top: 20px;
    font-style: italic;
}
.xtreme {
    font-size: 32px;
    color: #333333;
    margin-top: 900px;
    font-style: italic;
}

.image_text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.image_text img {
    max-width: 614px;
    height: auto;
}

.imagelignment {
    width: 2000px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.textalignment {
    text-align: center;
    line-height: 1.6;
}

.button2 {
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Hide section */
.hidden2 {
    display: none;
}

/* Slideshow */
.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 100px 0;
}

/* Slideshow image */
.slideshow-container img {
    width: 400px;
    height: 520px;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

/* Hover expand */
.slideshow-container img:hover {
    transform: scale(1.1);
}

/* Arrows */
.arrow {
    background: black;
    color: white;
    border: none;
    font-size: 30px;
    padding: 15px 20px;
    border-radius: 50%;
    cursor: pointer;
}
